Repository lvzhenbo/vite-plugin-compress-dist: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix --cache-location ./node_modules/.cache/.eslintcache

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --cache --ignore-unknown  --write",
    "eslint --cache --fix --cache-location ./node_modules/.cache/.eslintcache"
  ],
  "*.md": ["prettier --cache --ignore-unknown --write"]
}

chore：调整 pnpm 设置步骤的位置
  .github/workflows/release.yml
Due: none

fix: downgrade @release-it/conventional-changelog to version 10.0.1
  package.json
  pnpm-lock.yaml
Due: none

chore: 发布 v0.0.1
  CHANGELOG.md
  package.json
Due: prettier --cache --ignore-unknown --write

build: 打包工具替换为tsdown
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  tsdown.config.ts
  vite.config.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: 迁移到OIDC发布，action依赖更新
  .github/workflows/release.yml
  .release-it.json
  package.json
Due: none

chore: 发布 v0.1.0
  CHANGELOG.md
  package.json
Due: prettier --cache --ignore-unknown --write

chore: 更新依赖
  package.json
  pnpm-lock.yaml
Due: none

feat: 添加打包后打开文件所在目录并选中的实验性功能，跨平台未完全测试
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: 发布 v0.2.0
  CHANGELOG.md
  package.json
Due: prettier --cache --ignore-unknown --write

chore: 添加 .editorconfig 和 .gitattributes 文件以规范化代码格式
  .editorconfig
  .gitattributes
Due: none

refactor: 使用node的fs.rm替换rimraf依赖
  package.json
  pnpm-lock.yaml
  src/main.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: 发布 v0.3.0
  CHANGELOG.md
  package.json
Due: prettier --cache --ignore-unknown --write
